# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# etl
/last_synced_block.txt
myenv/lib64
myenv/pyvenv.cfg
myenv/bin/activate
myenv/bin/activate.csh
myenv/bin/activate.fish
myenv/bin/Activate.ps1
myenv/bin/base58
myenv/bin/easy_install
myenv/bin/easy_install-3.9
myenv/bin/ethereumetl
myenv/bin/fixup_pubsub_v1_keywords.py
myenv/bin/jp.py
myenv/bin/jsonschema
myenv/bin/netaddr
myenv/bin/normalizer
myenv/bin/pip
myenv/bin/pip3
myenv/bin/pip3.9
myenv/bin/py.test
myenv/bin/pyrsa-decrypt
myenv/bin/pyrsa-encrypt
myenv/bin/pyrsa-keygen
myenv/bin/pyrsa-priv2pub
myenv/bin/pyrsa-sign
myenv/bin/pyrsa-verify
myenv/bin/pytest
myenv/bin/python
myenv/bin/python3
myenv/bin/python3.9
myenv/bin/tabulate
myenv/include/site/python3.9/greenlet/greenlet.h
